<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="57333TanayParikh.Moneta-InvoiceAccounting" Publisher="CN=38656192-C9BD-432E-AFA2-6FACE0FA80B1" Version="0.5.4.0" />
  <mp:PhoneIdentity PhoneProductId="ab70c718-667b-40fa-a423-a82ff2c172bb" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Moneta - Invoice &amp; Accounting</DisplayName>
    <PublisherDisplayName>Tanay Parikh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MonetaFMS.App">
      <uap:VisualElements DisplayName="Moneta - Invoice &amp; Accounting" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Icon.png" Description="An open source easy to use accounting solution for freelancers, no strings attached." BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>